# ide
.idea
*.iml
.project
.vscode*

# os
.DS_Store

# pyenv/nodenv and venv
.python-version
.node-version
.venv
.envrc

# python artifacts
__pycache__/
*.egg-info/
*.py[cod]
build/
dist/

# tools
.mypy_cache
.ruff_cache

# test
.coverage
coverage.xml
.pytest_cache

# homebrew
formula.rb

# docs
package.json
pnpm-lock.yaml
node_modules
